/* Split the screen in half */
.split {
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  /* Control the left side */
  .left {
    left: 0;
    width: 30%;
    background-color: #111;
    margin: 0; /* Remove default margin */
    height: 100vh; /* Full height of the viewport */
    background-image: url(animation.gif);
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
  }
  
  /* Control the right side */
  .right {
    right: 0;
    width: 70%;
    margin: 0; 
    height: 100vh; 
    background-image: url(animation.gif);
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    
  }
  
  
  .centered-left {
    position: absolute;
    font-size: 80px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(90deg); 
    text-align: center;
    color: beige;
  }

  .centered-right p {
    position: absolute;
    width: 900px;
    height: 150px;
    border: 5px solid beige;
    border-radius: 15px;
    font-family: sans-serif;
    padding: 20px;
    margin-bottom: 30px;
    text-align: left;
    font-size: 2em;
    font-weight: bold;
    top: 12em;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: beige;
  }

  .centered-right h2 {
    position: absolute;
    width: 900px;
    height: 75px;
    background-color: beige;
    border: 5px solid beige;
    border-radius: 15px;
    font-family: sans-serif;
    padding: 30px;
    margin-bottom: 10em;
    text-align: left;
    font-size: 2em;
    font-weight: bold;
    top: 30em;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: rgb(27, 59, 217);
  }
  .image-container2 {
    position: relative;
    width: fit-content;
    margin: 0; 
    top: 70em;
    align-items: center;
  }
  
  .image-container2 img {
    width: 80px;
    height: 80px;
    
  }
  
  .hover-text2 {
    position: absolute;
    color: white;
    left: 7em;
    top: 2em;
    width: 100%;
    height: 100%;
    font-size: 18px;
    font-weight: 800;
    text-align: center;
    opacity: 0; 
    transition: opacity 0.3s; 
  }
  
  .image-container2:hover .hover-text2 {
    opacity: 1;
  }

.image {
    margin-top: 30em; 
    text-align: center; 
 }

 .image img {
    width: 20%; 
    height: auto; 
 }

 

/* Media query for screens with a maximum width of 480px (mobile size) */
@media (max-width: 800px) {
  .centered-right p {
    position: absolute;
    width: 250px;
    height: 80px;
    border: 5px solid beige;
    border-radius: 15px;
    font-family: sans-serif;
    padding: 20px;
    margin-bottom: 500px;
    text-align: left;
    font-size: 12px;
    font-weight: bold;
    top: 12em;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: beige;
  }

  .centered-right h2 {
    position: absolute;
    width: 250px;
    height: 40px;
    background-color: beige;
    border: 5px solid beige;
    border-radius: 15px;
    font-family: sans-serif;
    padding: 30px;
    margin-bottom: 5em;
    text-align: left;
    font-size: 12px;
    font-weight: bold;
    top: 30em;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: rgb(27, 59, 217);
  }

  .image {
    margin-top: 8em; 
    text-align: center; 
 }
}