body {

    background-color: black;
}

.image-container {
    position: relative;
    width: 500px;
    margin: 0 auto; 
  }
  
  .image-container img {
    position: relative; 
    display: block; 
    margin: 0 auto; 
    max-width: 100%; 
    height: auto; 
    padding-top: 18em;
    padding-left: 0;
  }
  
  .hover-image {
    position: absolute;
    top: -25em; 
    left: -27em; 
    width: 250%; 
    height: auto; 
    opacity: 0; 
    transition: opacity 0.3s; 
    z-index: 1;
    background-color: black;
    ;
    
  }
  
  .image-container:hover .hover-image {
    opacity: 1;
    
  }
  
 .image-container3 {
    position: fixed; 
    top: 10px; 
    right: 10px; 
    width: fit-content; 
    margin: 0; 
  }
  
  .image-container3 img {
    width: 80px;
    height: 80px;
  }
  
  .hover-text3 {
    position: absolute;
    color: white;
    left: -80px;
    top: 27px;
    width: 100%;
    height: 100%;
    font-size: 18px;
    text-align: center;
    opacity: 0; 
    transition: opacity 0.3s; 
  }
  
  .image-container3:hover .hover-text3 {
    opacity: 1;
  }

    /* Media query for screens with a maximum width of 768px (tablet size) */
@media (max-width: 768px) {
    .image-container img {
      width: 60%; /* reduce image width to 75% of parent container */
      height: 60%; /* reduce image height to 75% of parent container */
    }
    body {
        background-color: rgb(60, 0, 0);
    }
    .hover-image {
        background-color: rgb(60, 0, 0);
        top: -15em;
    }
    .image-container3 {
        position: fixed; 
       top: 700px; 
        right: 10px; 
        width: fit-content; 
        margin: 0; 
      }
  }
  
  /* Media query for screens with a maximum width of 480px (mobile size) */
  @media (max-width: 600px) {
    .image-container img {
      width: 60%; /* reduce image width to 50% of parent container */
      height: 60%; /* reduce image height to 50% of parent container */
    }
    body {
        background-color: rgb(90, 0, 0);
    }
    .hover-image {
        background-color: rgb(90, 0, 0);
        top: -10em;
    }
    .image-container3 {
        position: fixed; 
       top: 700px; 
        right: 420px; 
        width: fit-content; 
        margin: 0; 
      }
      .hover-text3 {
        position: absolute;
        color: white;
        left: 80px;
        top: 27px;
        width: 100%;
        height: 100%;
        font-size: 18px;
        text-align: center;
        opacity: 0; 
        transition: opacity 0.3s; 
      }
 }