html, body {
    height: 100%; 
    margin: 0; 
}

.container {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
}

.image img {
    width: 450px;
    animation: revolve 8s linear infinite;
}

@keyframes revolve {
    from {
        transform: rotate(0deg); /* Start at 0 degrees */
    }
    to {
        transform: rotate(360deg);}
}


@media (max-width: 800px) {
    .image img{
        width: 300px;
    }
}