.image {
    padding: 0;
    margin: 0;
}
.image img {
    width: 450px;
    height: 100%;
    margin-left: 500px;
    margin-top: 200px;
    animation: revolve 8s linear infinite;
}

@keyframes revolve {
    from {
        transform: rotate(0deg); /* Start at 0 degrees */
    }
    to {
        transform: rotate(360deg);}
}

.body {
    display: none;
}