body {
    background: radial-gradient(circle, rgb(249, 137, 176), rgb(249, 3, 85));
}

@font-face {
    font-family: retail;
    src: url(RetailTextDemo-Medium.otf) format(opentype);
}
.text {
    width: 500px;
    height: 100%;
    color: white;
    padding: 0;   
    margin-left: 500px;
    margin-top: 100px;
}

.text p {
    font-family: retail;
    font-size: 30px;
    text-align: center;
    
}