body {
    background: linear-gradient(270deg ,#d30303, #e08b02);
    animation: gradient 20s ease infinite;
    margin: 0;
    min-height: 100vh;
    background-size: 400% 400%;
}

@keyframes gradient {
    0% {
        background: linear-gradient(270deg, #d30303, #e08b02);
        background-position: 0% 50%;
    }
    25% {
        background: linear-gradient(270deg, #03d341, #02e0c6);
        background-position: 25% 50%;
    }
    50% {
        background: linear-gradient(270deg, #0375d3, #9602e0);
        background-position: 75% 50%;
    }
    100% {
        background: linear-gradient(270deg, #3a03d3, #e0029d);
        background-position: 100% 50%;
    }
}

@font-face {
    font-family: Beastly;
    src: url(BeastlyDemo-60Point.otf) format(Opentype);
}

h1 {
    font-family: Beastly;
    font-size: 200px;
    text-align: center;
    color: white;
    padding-bottom: 0;
    margin-bottom: 0;

}


@font-face {
    font-family: Obviously;
    src: url(ObviouslyDemo-Regular.otf) format(Opentype);
}
@font-face {
    font-family: Obviously-wide;
    src: url(ObviouslyDemo-Super.otf) format(Opentype);
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
    padding: 1em;
}

.container div {
    width: 300px;
    height: 100%;
    font-family: Obviously;
     color: white;
}

.text {
    order: 1;
    font-size: 24px;
    font-weight: bold;
    padding-left: 1em;
    padding-right: 1em;
}

.Intro {
    order: 2;
    padding-top: 400px;
    transform: rotate(90deg);
    font-family: Obviously-wide;
    padding-left: 1em;
}
.text1 {
    order: 3;
    padding-top: 400px;
    padding-right: 1em;
}

.fact {
    order: 4;
    padding-top: 200px;
    padding-left: 1em;
    font-family: Obviously-wide;
}

.text2 {
    order: 5;
    padding-top: 200px;
    padding-right: 1em;
}