body {
    background: linear-gradient(to right,#d30303, #e08b02);
}

@font-face {
    font-family: Beastly;
    src: url(BeastlyDemo-60Point.otf) format(Opentype);
}

h1 {
    font-family: Beastly;
    font-size: 200px;
    text-align: center;
    color: white;

}


@font-face {
    font-family: Obviously;
    src: url(ObviouslyDemo-Regular.otf) format(Opentype);
}

.container div {
    display: flex;
    width: 300px;
    height: auto;
    flex-direction: row;
    padding: 1em;
    font-family: Obviously;
     color: white;
}

.text {
    display: flex;
    order: 2;
}

.text1 {
    display: flex;
    order: 1;
}

.text2 {
    display: flex;
    order: 3;
}