body {
    background: linear-gradient(to right,#d30303, #e08b02);
}

@font-face {
    font-family: Beastly;
    src: url(BeastlyDemo-60Point.otf) format(Opentype);
}

h1 {
    font-family: Beastly;
    font-size: 200px;
    text-align: center;
    color: white;

}


@font-face {
    font-family: Obviously;
    src: url(ObviouslyDemo-Regular.otf) format(Opentype);
}

.container {
    display: flex;
    width: 300px;
    height: auto;
    flex-direction: column;
    padding: 1em;
    font-family: Obviously;
     color: white;
}
