body {
  display: flex;
  justify-content: end;
  align-items: start;
  height: 100vh;
  background-color: black;
}

.button-container {
  position: relative;
  margin-right: 20px;
  margin-top: 20px;
}

.gradient-button {
  padding: 15px 30px;
  font-size: 16px;
  color: rgb(1, 11, 59);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: white;
  transition: transform 0.5s ease;
}

.slide {
  transform: translateX(100px); 
}

.text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  color: white;
}

.text p {
  width: 500px;
  font-family: sans-serif;
  font-size: 30px;
}

.image-container1 {
  position: relative;
  width: fit-content;
  margin: 20px; 
  right: 85em;
}

.image-container1 img {
  width: 80px;
  height: 80px;
}

.hover-text1 {
  position: absolute;
  color: white;
  left: 7em;
  top: 2em;
  width: 100%;
  height: 100%;
  font-size: 18px;
  text-align: center;
  opacity: 0; 
  transition: opacity 0.3s; 
}

.image-container1:hover .hover-text1 {
  opacity: 1;
}

@media (max-width: 800px) {
  .text p {
    font-size: 16px;
  }
  .text {
    width: 200px;
    margin-left: 30px;
  }
  .button-container {
    position: relative;
    margin-right: 0px;
    margin-top: 20px;
  }
  .gradient-button {
    padding: 10px 20px;
    font-size: 12px;
    color: rgb(1, 11, 59);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: white;
    transition: transform 0.5s ease;
  }
  .slide {
    transform: translateX(50px); 
  }
  .image-container1 {
    position: relative;
    width: fit-content;
    margin: 20px; 
    right: 20em;
  }
  .image-container1 img {
    width: 40px;
    height: 40px;
  }
}
